@model Core.Models.User.Histories

@{
    Layout = "~/Views/Layouts/Dashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <div class=" segment">
        <h1 class="ui header" align="center">
            <div class="content">
                Módulo  de Edición de Historial
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section" href="@Url.Action("home","Home")">Inicio</a>
                        <div class="divider"> / </div>
                        <a class="section" href="@Url.Action("Index")">Listar</a>
                        <div class="divider"> / </div>
                        <div class="active section">Edicion de Historial</div>
                    </div>
                </div>
            </div>

        </h1>
        <div class="ui hidden divider"></div>

    </div>

    <br />

    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui segments">
                <div class="ui teal segment">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="field">
                            @Html.LabelFor(model => model.HistoryName, "Nombre Historial", htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input">
                                @Html.EditorFor(model => model.HistoryName, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>


                            @Html.ValidationMessageFor(model => model.HistoryName, "", new { @class = "ui error message" })
                        </div>

                        <div class="field">
                            @Html.LabelFor(model => model.HistoryDescription, "Descripcion",htmlAttributes: new { @class = "textbox" })

                            <div class="ui mini icon input">
                                @Html.EditorFor(model => model.HistoryDescription, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div> 


                            @Html.ValidationMessageFor(model => model.HistoryDescription, "", new { @class = "ui error message" })
                        </div>

                        <div class="field">
                            @Html.LabelFor(model => model.ProjectsId, "Proyecto", htmlAttributes: new { @class = "" })

                            @Html.DropDownList("ProjectsId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                            @Html.ValidationMessageFor(model => model.ProjectsId, "", new { @class = "ui error message" })
                        </div>
                        <div class="field">
                            <br />
                            <input type="submit" value="Guardar" class="ui  large blue submit button" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>



</body>
</html>
