@model Core.Models.User.Projects

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/Dashboard.cshtml";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header" align="center">
        <div class="content">
            Módulo  de Edición de Grupos
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("home","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de Proyectos</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>


<div class="ui grid">
    <div class="ten wide centered column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.ProjectName, "Nombre Proyecto: ", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.DisplayName, "Nombre para Mostrar:", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.ProjectDescription, "Descripcion: ", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "ui error message" })
                    </div>



                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large blue submit button" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui  large submit button" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>



