@model Core.Models.User.Files

@{
    ViewBag.Title = "EditModel";
    Layout = "~/Views/Layouts/Dashboard.cshtml";
}

@{
    ViewBag._Active = "EditModel";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de Files
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("home","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de Files</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Editar Files
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.FileDescription, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.FileDescription, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.FileDescription, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Extension, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Extension, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Extension, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.HistoriesId, "HistoriesId", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("HistoriesId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        @Html.ValidationMessageFor(model => model.HistoriesId, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CreatedByName, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CreatedByName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.CreatedByName, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.UpdatedByName, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.UpdatedByName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.UpdatedByName, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large red submit button" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>



