@model Core.Models.User.Files

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/Dashboard.cshtml";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header" align="center">
        <div class="content">
            <big style="text-transform:uppercase">Módulo  de Edicion de Archivos</big>
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("home","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de Archivos</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>
<br />
<br />
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ten wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm("Edit", "Files", FormMethod.Post, new { @class = "ui large form", autofocus = "" }))                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="field">
                        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.FileDescription, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.FileDescription, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.FileDescription, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large blue submit button" />
                        @Html.ActionLink("Reemplazar Archivo", "EditFile", null, new { @class = "ui  large black submit button" })
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui  large submit button" })
                        @*<a href="C:\CRISTIAN\asignacion-de-proyectos\TicketsUNO27\ArchivosApp\cf259ab9-cb7e-4f9e-aeca-770b528ec176.docx" download="">contenido</a>*@                        
                    </div>
                }
            </div>

        </div>
    </div>
</div>





